<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Clientes</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/crear-cliente">Crear</button>
            <h5 style="margin-top: 30px;" *ngIf="clientes.length == 0">No hay datos para mostrar</h5>
            <table *ngIf="clientes.length > 0" class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Fecha de Nacimiento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of clientes">
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.edad }}</td>
                    <td>{{ cliente.fecNac}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>